langgraph
langchain
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-huggingface
tavily-python
beautifulsoup4
requests
chromadb
sentence-transformers
fastapi
uvicorn
streamlit
python-dotenv